@import url('/css/noto-serif-font.css');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Noto Serif";
}
header{
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-size: large;
    color: #f00;
    border-bottom: 1px solid;
}
.container{
    padding: 5px;

}
.container-list{
    font-size: small;
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
}
.container-list .logo{
    fill: #f00;
}
.list-detail{
    padding: 10px;
    width: 100%;
}
.item-main{
    display: flex;
    justify-content: space-between;
}
.list-detail .useragent{
    font-size: small;
}
@media screen and (max-width:650px) {
    .item-main{
        display: unset;
    }
}