@import url('/textmate/css/post-viewer.css');
.post-content{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputs input, .inputs textarea{
    display: block;
    outline: none;
    width: 100%;
    font-size: large;
    margin: 5px 0;
    border-radius: 20px;
    border: none;
    padding:5px 10px;
    box-shadow: 0 0 2px 0;
}
textarea{
    resize: none;
    height: 150px;
}
.inputs label{
    font-size: large;
    color: #f00;
}
#contact-us-form{
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 5px 0 #000;
    border-radius: 20px;
    overflow: hidden;
}
#contact-us-form .form-title{
    text-align: center;
    font-size: larger;
    background-color: #f00;
    color: white;
    padding: 5px;
    font-weight: bold;
}
.inputs{
    padding: 5px;
}
.input-groups{
    display: flex;
}
.input-groups input{
    width: 100%;
    background-color: #00f;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}
.input-groups input:hover{
    background-color: #009;
}
.input-groups input[type="reset"]{
    margin-right: 2px;
}
.input-groups input[type="submit"]{
    margin-left: 2px;
}
.status-message{
    text-align: center;
    background-color: #00f;
    font-size: small;
    color: white;
}