@import url('/css/noto-serif-font.css');

html {
    height: 100%;
}

* {
    /* margin: 0; */
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Noto Serif';
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
    appearance: none;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

header {
    z-index: 1;
    font-size: large;
    box-shadow: 0 0 5px 0;
    padding: 5px 0;
}

header label {
    font-weight: bold;
    font-size: larger;
    color: #00c;
    cursor: pointer;
    padding: 0 5px;
}

.navigationbar {
    float: right;
    padding-right: 5px;
}

.navigationbar ul {
    margin: 0;
}

.navigationbar ul li {
    list-style: none;
    display: inline-block;
}

#navigationbar {
    display: none;
}

.navigationbar ul li a {
    color: #f00;
    transition: 0.2s;
}

.navigationbar ul li a:hover {
    color: #00c;
}

header svg {
    float: right;
    fill: #00c;
    cursor: pointer;
    display: none;
}

footer {
    background-color: #f00;
    color: white;
    text-align: center;
    margin-top: auto;
}

footer .footer-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #00f;
}

footer .footer-content a {
    color: white;
    transition: 0.2s;
    font-size: small;
    padding: 5px 0;
}

footer .footer-content a:hover {
    background-color: #00c;
}
.logo img {
    height: 20px;
    margin-right: 5px;
}
@media screen and (max-width:600px) {
    header {
        padding-bottom: unset;
        text-align: center;
        overflow: unset;
        top: 0;
        background-color: white;
        position: sticky;
    }

    header label {
        padding: unset;
    }

    header svg {
        display: block;
    }

    .navigationbar {
        float: none;
        padding-right: unset;
        margin-top: 5px;
        display: none;
    }

    .navigationbar ul li {
        display: block;
        box-shadow: 0 0 1px 0;
    }

    .navigationbar ul li a {
        display: block;
        color: #00c;
        padding: 5px;
    }

    .navigationbar ul li a:hover {
        background-color: aliceblue;
    }

    #navigationbar:checked~.navigationbar {
        display: block;
    }

    .navigationbar ul {
        padding: 0;
        margin: 0;
    }
}
@media (width>300px) {
    footer .footer-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width>450px) {
    footer .footer-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (width>600px) {
    footer .footer-content {
        grid-template-columns: repeat(4, 1fr);
    }
}