@import url('/textmate/css/header-footer.css');

.container {
    padding: 5px;
}

.container-page-title {
    font-size: x-large;
    font-weight: bold;
    text-transform: capitalize;
    color: #f00;
    border-bottom: 1px solid;
    padding: 5px 0;
}

.container-box {
    padding: 10px;
}
@media (width<700px) {
}
@media (width>=700px) {
    .container-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container-sidebar {
        margin-left: 5px;
        width: 30%;
        max-width: 300px;
    }
    .container-box .page-content {
        margin-right: 5px;
        width: 70%;
        max-width: 700px;
    }
}